@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

.top
{
    text-align: center;
    color: grey;
    position: sticky;
}

.main-title
{
    color: black;
    font-size: 100px;
}

*
{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}
